body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color:black;
    color:#f8f8f8;
    line-height: 1.6;
    word-wrap: break-word;
    overflow-wrap: break-word;

}
h1{
    text-align: center;
    font-family: fantasy;
    margin: 0.67rem 0;
}

h3{
    margin: 0.67rem 0;
}
input{
    justify-content: center;
    align-items: center;
}

section {
    border: 2px solid black;
    padding: 3px;
    margin: 20px;
    border-radius: 10px;
    flex: 1 1 25%;
    box-sizing: border-box;
}

nav {
    /* text-decoration: underline; */
    text-align: center;
    color: #f8f8f8;
    padding: 5px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: #f8f8f8;
}
nav a:hover{
    color: #CB7410;
}

.navigation{
    display: flex;
    width: 100%;
    height: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

.nav-link{
    text-decoration: none;
    position: relative;
    transition: color 0.4s;
    width: 100%;
}
.nav-link.active::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 2px;
    background-color: white;
}

.navigation-item{
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.playlist-info {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    /* max-width: 800px; */
    margin: 50px;
}

.playlist-card{
    border: solid;
    padding: 10px;
    border-radius: 20px;
}

.playlist-card img{
    width: 15rem;
    height: 15rem;
    border-radius: 10px;
}

.playlist-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(213, 205, 205, 0.4);
}

#like-icon {
    cursor: pointer;
}

.like-icon:hover{
    color: #FF0000;
}

.like-count{
    display: flex;

}
.count-display{
    margin-top: 0;
    margin-left: 10px;
}
.playlist-action{
    display: flex;
    justify-content: space-between;
}

.song-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    /* border-bottom: 0.2px solid; */
}

.song-details{
    display: flex;
}

.song-names{
    line-height: 0.7rem;
    align-content: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.song-img{
    border-radius: 50%;
    height: 4rem;
    margin-right: 20px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }
 .modal-content {
    background-color: black;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 55%; /* Could be more or less, depending on screen size */
    height: auto;
    border-radius: 20px;
 }
 .modal p{
    /* font-size: 1em; */
 }
 .modal h2{
    margin-top: 0;
    /* font-size: 1.5em; */
 }
 .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
 }
 .close:hover,
 .close:focus {
    /* color: black; */
    text-decoration: none;
    cursor: pointer;
 }
 
 .playlist-random{
    display: flex;
    justify-content: center;
    margin: 200px;
 }

 .home-songs{
    margin-left: 50px;
 }

 footer{
background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  /* position: fixed; */
   left: 0;
   bottom: 0;
   width: 100%;

 }

 @media (max-width: 1000px) {
    p{
        font-size: 15px;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 13px;
    }
 }

 @media (max-width: 400px) {
    p{
        font-size: 10px;
    }
    h1{
        font-size: 14px;
    }
    h2{
        font-size: 13px;
    }
    h3{
        font-size: 10px;
        text-wrap: wrap;
    }
 }
